@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
.FAQ-header {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 55px;
}

.collapsible .collapsible-header:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
